<div class="paginator">
	<%= link_to 'Show more', concert_comments_path(@concert, offset: @offset, 
        commentable_type: 'Concert', commentable_id: @comments.first.commentable_id), remote: true %>
</div>