$('.marked_for_deletion').parent().parent().html(
  '<div class="feedback_banner"> Comment deleted. </div>'
);
$('.feedback_banner').fadeOut({ duration: 3000, easing: 'easeInQuart', 
  complete: function() {
    $('.marked_for_deletion').removeClass('marked_for_deletion');
  } 
});
<% if @comments_count == 0 %>
  $('.comment_entries').prepend('<h2 class="heading_inside_box"> There Are No Comments Yet </h2>');
<% end %>