$('#create_concert_or_video').html(
  '<p> Congratulations! The video at "<%= @video.url %>" was successfully added! </p>');
$('#show_videos').html('<%= escape_javascript render partial: 'index' %>');