$('#show_videos_index').html('<%= escape_javascript render partial: 'index' %> ');
$('#show_videos_index').append(
  '<div class="feedback_banner"> Video deleted. </div>'
);
$('.feedback_banner').fadeOut({ duration: 3000, easing: 'easeInQuart' });