/* Classes */

.add_left_margin {
	margin-left: 10px;
}

.minimize_text {
	font-size: 0.85em; 
}

.comment_content {
  margin-top: 5px;
}

.comment_entry {
  margin: 30px auto;
}

.comment_footer {
  margin-top: 5px;
}

.comment_header {
  margin-top: 30px;
  margin-bottom: 5px;
}

.paginator a {
  background-image: linear-gradient(to top, #fcfcfc 0px, #f8f8f8 100%);
  border: 1px solid #d3d3d3;
  color: #333;
  display: block;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 920px;
}
  .paginator a:hover {
    background-image: linear-gradient(to top, #f8f8f8 0px, #f4f4f4 100%);
  }
  

/* IDs */
  
#concert_comments {
  margin: 0 20px;
}