/* Tags */

a {
	color: #666666;
  text-decoration: none;
}
  a:hover {
    color: #09f;
  }

body {
  background-color: #eee;
  color: #333;
	font-family: "Avenir Next", verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 15px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

textarea {
  color: #333;
  font-family: 'Avenir Next';
  font-size: 14px;
  line-height: 1.4;
	height: 80px;
	width: 600px;
}

ul { 
	list-style-type: none;
	padding: 0 0;
}


/* Classes */

.actions {
  margin: 10px 0;
}

.add_event {
  background-color: black;
  border-radius: 4px;
  color: white;
  height: 130px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 980px;
}
  .add_event img {
    height: 110px;
    left: 30px;
    top: 10px;
    position: absolute;
  }
  .add_event h4 {
    color: white;
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }

.add_event_message {
  left: 30%;
  top: 28%;
  position: absolute;
}
  .add_event_message p {
      color: #999;
      float: left;
      font-size: 14px;
      height: 40px;
      line-height: 20px;
      margin-bottom: 10px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
  }
  
.add_event_links {
  float: right;
  margin-top: 25px;
  margin-right: 90px;
}
  .add_event_links a {
    display: block;
    font-size: 16px;
    margin: 5px auto;
  }
  
.address {
  float: left;
  font-weight: bold;
  margin-right: 50px;
}

.block {
  display: block;
}

.box {
  border-radius: 2px;
  box-sizing: border-box;
  margin: 15px auto;
  padding: 25px 0;
  width: 980px;
}

.box.event_location {
  padding: 50px 90px;
}

h4.category {
  color: #666666;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content_in_box {
  margin-left: 15px;
}

.event_search {
  float: left;
  font-size: 16px;
  height: 30px;
  width: 884px;
}

.feedback_banner {
  background-color: #fcf4d8;
  color: black;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 950px;
}

.field {
  margin: 10px 0;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline-block;
}

.float_right {
  float: right;
}

.google_maps_container {
  margin: 0 auto;
  width: 980px;
}

.greeting {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.header {
  background-color: black;
  color: white;
  margin: 0 auto;
  min-height: 80px;
  overflow: visible;
  position: relative;
  width: 980px;
}

.header_container {
  background-color: black;
}

.header_field {
  margin-right: 5px;
  text-align: left;
}

.horizontal li {
  display: inline-block;
}

.inline_block {
	display: inline-block;
}

.heading_inside_box {
  color: #333;
  font-size: 27px;
  font-weight: normal;
  line-height: 27px;
}

.intro {
  background-color: black;
  color: white;
  height: 350px;
  padding-top: 10px;
  position: relative;
  z-index: 0;
}

.intro_greeting {
  margin: 0 auto;
  position: relative;
  text-align: left;
  top: 22%;
  width: 980px;
  z-index: 2;
}
  .intro_greeting p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    text-shadow: 0 1px 1px #000;
  }

.intro_image {
  background-image: url("bg.jpg");
  background-position: 58% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 350px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.login {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(0, -50%);
}
  .login .field {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
  }

.logo {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  position: absolute;
}

.main_heading {
  color: #555;
  font-family: Lato, sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 60px;
  text-align: center;
  text-shadow: #fff 0px 1px 0px;
}
  
.no_bottom_margin {
  margin-bottom: 0;
}

.no_top_margin {
  margin-top: 0;
}

.no_top_or_bottom_margins {
  margin: 0 auto;
}

.orangey_link {
  color: #ffbb00;
}
  .orangey_link:hover {
    color: #0df;
  }

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  margin-top: .5em;
}
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; 
  }
  .pagination .disabled {
    color: #aaaaaa; 
  }
    .pagination.black_bg .disabled {
      color: #cccccc;
    }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; 
  }
  .pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
  }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; 
    }
    .pagination.black_bg a {
      color: #0df;
    }
      .pagination.black_bg a:hover {
        background-color: #0df;
        color: black;
      }
  .pagination .pagination_info {
    color: #aaaaaa;
    padding-top: 0.8em; 
  }
    .pagination.black_bg .pagination_info {
      color: #cccccc;
    }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; 
  }
  .pagination .previous_page {
    margin-right: 1em; 
  }
  .pagination .next_page {
    margin-left: 1em; 
  }

.rankings_list {
  margin-left: 15px;
  width: 950px;
}
  .rankings_list_container .heading_inside_box {
    margin-left: 15px;
    padding-top: 15px;
  }
  .rankings_list table {
    border-spacing: 0 1px;
  }

  .rankings_list td, .rankings_list th {
    border-collapse: collapse;
    padding: 10px 10px;
  }
  .rankings_list th {
    border-collapse: collapse;
    color: #333;
    font-size: 12px;
    padding-bottom: 3px;
    text-align: left;
    vertical-align: bottom;
  }
  .rankings_list thead {
    border-bottom-color: #808080;
    border-collapse: collapse;
    border-left-color: #808080;
    border-right-color: #808080;
    border-top-color: #808080;
    color: #333333;
    display: table-header-group;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    vertical-align: middle;
  }
  .rankings_list tbody tr:nth-child(odd) {
      background-color: #f6f6f5;
      border: #fff 1px solid;
  }
  .rankings_list tbody tr:nth-child(even) {
      background-color: #fbfbfb;
      border: #fff 1px solid;
  }

.rankings_list_container {
  background-color: white;
  width: 980px;
}

.rankings_table {
  width: 950px;
}

.rankings_header {
  background-color: #f6f6f6;
  background-image: -webkit-linear-gradient(bottom, #ffffff 15%, #f6f6f6 85%);
  border-top-color: #f2f2f2;
  border-top-style: solid;
  border-top-width: 1px;
  color: #333333;
  display: block;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
}

.register_notice {
  margin-left: 5px;
}
  .register_notice a {
    margin-left: 5px;
  }
  
.score_box {
  background-color: #65B284;
  height: 280px;
  display: inline-block;
  margin: 27px 27px;
  position: relative;
  width: 187px;
}
  .score_box .category {
    color: white;
    font-size: 20px;
    font-weight: 700px;
    position: absolute;
    top: 12%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .score_box .score {
    color: white;
    font: 'Frutiger';
    font-size: 100px;
    font-weight: 1000px;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.search_image {
  background-color: white;
  border-radius: 4px;
  height: 35px;
  padding-left: 27.5px;
  padding-right: 27.5px;
}

.section {
  margin: 0 auto;
  width: 980px;
}

.sign_out {
  font-size: 14px;
}

.sub_heading {
  color: #6e6e6e;
  font-family: Lato, sans-serif;
  font-size: 31.5px;
  font-weight: 300;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-shadow: 0px 1px 0px #fff;
}

.dark_bg {
  background-color: #494949;
  color: white;
}

.white_bg {
  background-color: white;
}


/* IDs */

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; 
}
  #error_explanation h3 {
  	font-weight: bold;
  	padding: 5px 5px 5px 15px;
  	font-size: 12px;
  	margin: -7px;
  	margin-bottom: 0px;
  	background-color: #c00;
  	color: #fff; 
  }
  #error_explanation ul li {
  	font-size: 12px;
  	list-style-type: none; 
  }
  
#final_scores {
  margin: 0 auto;
  width: 730px;
}

#show_videos {
  background-color: black;
  color: white;
  text-align: center;
  width: 980px;
}

#voting {
  text-align: center;
}