a {
	color: #666666;
  text-decoration: none;
}
  a:hover {
    color: #09f;
  }

body {
  background-color: #eee;
  color: black;
	font-family: "Avenir Next", verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
}

div {
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; 
}

table.center {
	margin: 0 auto;
}

td, th {
	text-align: left;
}

ul { 
	list-style-type: none;
	padding: 0 0;
}


.action {
  margin: 10px;
}

.add_event {
  background-color: black;
  border-radius: 4px;
  color: white;
  height: 130px;
  margin-top: 30px;
  position: relative;
  text-align: left;
  width: 980px;
}
  .add_event img {
    height: 110px;
    left: 30px;
    top: 10px;
    position: absolute;
  }
  .add_event h4 {
    color: #f2f2f2;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }

.add_event_message {
  left: 30%;
  top: 28%;
  position: absolute;
}
  .add_event_message p {
      color: #999;
      float: left;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 40px;
      line-height: 20px;
      margin-bottom: 10px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
  }
  
.add_event_links {
  float: right;
  margin-top: 25px;
  margin-right: 90px;
}
  .add_event_links a {
    display: block;
    color: orange;
    font-size: 16px;
    margin: 5px auto;
  }
    .add_event_links a:hover {
      color: #0df;
    }

.block {
  display: block;
}

.category {
  margin: 2px;
}

.category_group {
  margin-top: 20px;
}

.event_search {
  float: left;
  font-size: 16px;
  height: 30px;
  width: 884px;
}

.event_search_container {
  display: inline-block;
  width: auto;
}

.field {
  margin: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline-block;
}

.float_box {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.genre_box {
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  height: 125px;
  margin: 15px 15px;
  width: 130px;
}

.genre_filter {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.google_maps_container {
  display: inline-block;
}

.greeting {
  bottom: 0;
  left: 440px;
  position: absolute;
}

.header {
  background-color: black;
  color: white;
  min-height: 80px;
  overflow: visible;
  position: relative;
  width: 980px;
}
  .header a {
    color: #ffbb00;
  }
  .header a:hover {
    background-color: black;
    color: #0df;
  }

.header_container {
  background-color: black;
}

.header_field {
  margin-right: 5px;
  text-align: left;
}

.image_link {
  font-size: 16px;
}
  .image_link img {
    display: block;
    height: 85px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

.inline {
  display: inline;
}

.inline_block {
	display: inline-block;
}

.intro {
  background-color: black;
  color: white;
  height: 350px;
  padding-top: 10px;
  position: relative;
  z-index: 0;
}

.intro_greeting {
  margin: 0 auto;
  position: relative;
  text-align: left;
  top: 22%;
  width: 980px;
  z-index: 2;
}
  .intro_greeting p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    text-shadow: 0 1px 1px #000;
  }

.intro_image {
  background-image: url("bg4.jpg");
  background-position: 58% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 350px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.login {
  bottom: 0px;
  font-size: 12px;
  position: absolute;
  right: 0;
}
  .login .field {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
  }

.logo {
  bottom: 15%;
  float: left;
  left: 0;
  position: absolute;
}
  .logo:hover {
    background-color: white;
  }

.main_heading {
  color: #555;
  font-family: Lato, sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 60px;
  text-align: center;
  text-shadow: #fff 0px 1px 0px;
}
  
.no_bottom_margin {
  margin-bottom: 0;
}

.no_top_margin {
  margin-top: 0;
}

.no_top_or_bottom_margins {
  margin: 0 auto;
}

.orange_link {
  color: orange;
}

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  margin-top: .5em;
}
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; 
  }
  .pagination .disabled {
    color: #aaaaaa; 
  }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; 
  }
  .pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
  }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; 
    }
  .pagination .pagination_info {
    color: #aaaaaa;
    padding-top: 0.8em; 
  }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; 
  }
  .pagination .previous_page {
    margin-right: 1em; 
  }
  .pagination .next_page {
    margin-left: 1em; 
  }

.rankings {
  background-color: white;
  border-radius: 10px;
  width: 980px;
}

.rankings_container {
  display: inline-block;
  width: auto;
}

.register_notice {
  margin-left: 5px;
}
  .register_notice a {
    margin-left: 5px;
  }

.search_button {
  background-color: white;
  border-radius: 4px;
  float: left;
  height: 35px;
  width: 90px;
}
.search_image {
  height: 35px;
  width: auto;
}

.sign_out {
  font-size: 14px;
}

.sub_heading {
  color: #6e6e6e;
  font-family: Lato, sans-serif;
  font-size: 31.5px;
  font-weight: 300;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
  text-shadow: 0px 1px 0px #fff;
}

  
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; 
}
  #error_explanation h3 {
  	font-weight: bold;
  	padding: 5px 5px 5px 15px;
  	font-size: 12px;
  	margin: -7px;
  	margin-bottom: 0px;
  	background-color: #c00;
  	color: #fff; 
  }
  #error_explanation ul li {
  	font-size: 12px;
  	list-style-type: none; 
  }